<div class="container">

<h2 class="lead ml-3 my-4">Tu veux créer un nouveau potin ? Clique sur le boutton ci-dessous.</h2>
<div class="row justify-content-md-center">
  <div class="col col-md-auto m-3">
<%= link_to "+ Créer un nouveau potin", new_gossip_path, :type => "button",  :class => 'btn btn-danger ml-5' %>
</div>
</div>
  <!-- Success message -->
  <% if flash[:success] %>
    <div class="alert alert-success" role="alert">
      <%= flash[:success] %>
    </div>
  <% end %>

  <%= render "layouts/gossips_list" %>
</div>
