<!-- JUMBOTRON -->
<section>
  <div class="jumbotron jumbotron-fluid">
    <div class="container text-center text-dark">
      <h1 class="display-4">The Gossip Project</h1>
      <h2 class="h3">Découvrez les merveilleux potins et partagez les vôtres xoxo</h2>
      <a type="button" class="btn btn-info btn-lg m-3" href="<%= gossips_path %>">La liste de potins</a>
      <button type="button" class="btn btn-secondary btn-lg  m-3">Créer un compte</button>
    </div>
  </div>
</section>